{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
    <title> Jelly Jumpers </title>
</head>
<body>
    <header>
        <img src = "{%static 'Jelly jumpers.png' %}">
    </header>
</body>
<body>
    <h2>About </h2>
    <p>Jelly Jumper is an South African childrens band from Durban, Kwa-Zulu Natal. The band's current lineup comprises vocalist/rhythm guitarist/keyboardist Jessie James, lead guitarist Brad Lawson, bassist David Patterson, DJ/turntablist Joe Doe and drummer Rob Burns, all of whom are founding members. Vocalists Mark Garfield and Chester Stevens are former members of the band. </p>

    <p>Classfied as childrens band, performing arts at kids parties as well as kids concerts at various parks and other events for kids and youth. </p>
</body>
 
<body>
    <h2> Skills and Competencies</h2> 
    <ul>
        <li>Parties and Private functions</li>
        <li>Concerts</li>
        <li>Youth concerts</li>
    </ul>
</body>
<body>
    <h2>Education</h2>
    <ul>
        <li>Degree in Music - University of Durban Year: 2015</li>
        <li>Degree in Instument playing and fixing - Music College Year 2003</li>
        <li>Degree in teaching music - University of Music Year 2020</li>
    </ul>
</body>
<body>
    <h2>Work Experience</h2>
    <ul>
        <li>Performed at the soccer World cup 2021 </li>
        <li>Ongoing: Teaching young and old how to play music</li>
        <li>Performs at Botanical Gardens on a weekly basis</li>
    </ul>
</body>
   
</html>
{% endblock content%}