{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/home/css/bootstrap.min.css' %}">
	<title>Contact Me</title>
</head>
<body>
	<header class="bg-light">
		<div class="container py-3">
			<h1 class="mb-0">Thank you for contacting me</h1>
		</div>
	</header>
	<main class="container my-5">
		<section class="mb-5">
			<h2>Contact Details</h2>
			<ul class="list-unstyled">
				<li><strong>Name:</strong> Levina Premnand (Manager)</li>
				<li><strong>Contact Number:</strong> 0711039694</li>
				<li><strong>Email:</strong> <a href="mailto:levina.ramkumar@gmail.com">levina.ramkumar@gmail.com</a></li>
				<li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/levina-ramkumar-28319742/">https://www.linkedin.com/in/levina-ramkumar-28319742/</a></li>
			</ul>

	</main>
	<footer class="bg-light">
		<div class="container py-3">
			<p class="mb-0">Copyright &copy; 2023 Levina Premnand
		</div>
	</footer>
	
</body>
</html>















